@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.navContainer{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  background-color: white;
  /* max-width:  100%; */
  width: 100vw;
  
}
.navbar{
    padding: 0;
}

.d-flex{
    margin-left: 20px;
}

#image{
    margin-top: 0;
}

/* #homeImage{
    width: 100vw;
    height: 150px; 
} */
#main{
    /* display: flex;
    align-items: center;
    justify-content: end; */
    /* background-image: url('https://siphokuhlenyana.github.io/ImagesPortfolio/thrift1.jpg'); */
    background-image: url("https://siphokuhlenyana.github.io/ImagesPortfolio/IMG_0625.jpeg");


    background-image: -moz-linear-gradient(red ,black);
    background-size:cover; 
    background-position: center;
    background-repeat: no-repeat; 
    padding: 300px 0;
}

.slogan{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style:normal;
    color: black;
    font-size:xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    /* background-color: rgba(255, 20, 145, 0.51); */
}

#introp{
    padding-top: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:black;
   display: flex;
   align-items: center;
    justify-content:initial;
    /* text-transform: uppercase; */
    /* background-image: url("https://siphokuhlenyana.github.io/ImagesPortfolio/IMG_0570.jpeg");
background-repeat: repeat;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-font-smoothing: antialiased; */
}
#aboutmain{
    background-image: linear-gradient(rgb(231, 16, 16) ,rgba(0, 0, 0, 0.425));
}

#aboutimg{
    border: 2px white;

margin-left: 700px;
}
.container-fluid{
    background-image: linear-gradient(rgb(231, 16, 16) ,black);
}